.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 1vw;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  min-width: 30vw;
  min-height: 35vw;
}

.aside-2 {
  min-width: 66vw;
  min-height: 35vw;
}

@media all and (min-width: 30vw) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
